/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Обнуление                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  *,
  *:before,
  *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  :focus,
  :active {
	outline: none;
  }
  a:focus,
  a:active {
	outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
	display: block;
  }
  
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
}

body {
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
  user-select: none;
}

  
input,
button,
textarea {
font-family: inherit;
}

input::-ms-clear {
display: none;
}
button {
cursor: pointer;
background: none;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a,
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
}

.bigred {
font-size: 20px;
color: red;
}

body {
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding: 30px;
}


.field {
  margin-bottom: 17.498px;
}

.container {
  width: 1200px;
  margin: 0 auto; /* Выравнивание по центру */
  padding: 50px;
  background-color: #f0f0f0;
}

/* Стили для названия полей */
.field label {
  display: block; /* Делаем название поля блочным элементом, чтобы поместить его над полем */
  font-weight: bold;
  margin-bottom: 10px; 
}

/* Стили для текстового поля */
textarea, input[type="text"] {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  min-width: 682px;
  max-width: 682px;
  min-height: 42.346px;
  max-height: 300px;
  background-color: #D9D9D9;
  outline: none;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстовых полей */
input[type="text"]::placeholder, textarea::placeholder {
  color: #BFBFBF; /* Цвет текста подсказки */
}


/* Стили для текстового поля, когда не в фокусе */
textarea:not(:focus), input[type="text"]:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
}


/* Счётчик */
::selection {
  background-color: #D12326; /* Цвет фона выделения */
  color: #F7F7F7; /* Цвет текста в выделении */
}


/* Стили для счетчика */
.counter {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 17.498px;
}

.counter_head {
  display: flex;
  flex-direction: column;
}

.minus-button, .plus-button {
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  background: #BFBFBF;
  color: #314455;
  padding: 10px 15px;
  cursor: pointer;
}

.minus-button:hover, .plus-button:hover {
  background: #D12326;
  color: #F7F7F7;
}

.count {
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  background: #D9D9D9;
  color: #314455;
  padding: 10px 30px;
  text-align: center;
  min-width: 50px;
}

.contacts {
  display: flex;
}

/* Стили для поля ввода электронной почты */
input[type="email"] {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  width: 326.08px;
  height: 42.346px;
  background-color: #D9D9D9;
  outline: none;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстовой подсказки */
input[type="email"]::placeholder {
  color: #BFBFBF; /* Цвет текста подсказки */

}

/* Стили для поля ввода электронной почты, когда не в фокусе */
input[type="email"]:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
  background-color: #D9D9D9;
}

.phone {
  margin-left: 30px;
}

/* Стили для поля ввода номера телефона */
input[type="tel"] {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  width: 326.08px;
  height: 42.346px;
  background-color: #D9D9D9;
  outline: none;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстовой подсказки */
input[type="tel"]::placeholder {
  color: #BFBFBF;
}

input[type="tel"]:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
  background-color: #D9D9D9;
}

/* Стили для выпадающего списка, аналогичные полям ввода номера телефона */
#selectField {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  width: 326.08px;
  background-color: #D9D9D9;
  outline: none;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстовой подсказки */
#selectField::placeholder {
  color: #BFBFBF;
}

/* Стили для выпадающего списка, когда не в фокусе */
#selectField:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
  background-color: #D9D9D9;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-top: 0px;
  padding-left: 50px;
  line-height: 100%;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #BFBFBF;
  background: #D9D9D9;
  -webkit-transition: all .275s;
  transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content:'✕';
  position: absolute;
  top: 9px;
  left: 11px;
  color: #D12326;
  line-height: 100%;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #BFBFBF;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

.offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.price_text {
  color: #314455;
  text-align: center;
  font-family: Roboto;
  font-size: 39.922px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 39.922px */
}

.btn.btn {
display: inline-block;
padding: 20px 60px;
text-decoration: none;
background: #E62929;
color: #F2F2F2;
transition: all .4s;
}

.btn.btn:hover,
.btn.btn:focus {
background: #000;
}








@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #222429;
  --primary-bg-color: #333740;
  --primary-color: #2c62f6;
  --text-color: #b1b8ca;
  --text-active: #ffffff;
  --button-hover-bg-color: #2b2e34;
  --border-color: #494d59;
  --dropdown-height: 0;
  --rotate-arrow: 0;
  --translate-value: 0;
  --list-opacity: 0;
  --transition-time: 0.4s;
  --transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --border-radius: 1.4rem;
  --list-button-height: 4.6rem;
  --floating-icon-size: 26;
  --floating-icon-top: 0;
  --floating-icon-left: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding: 1.5rem;
  line-height: 1.4;
}


button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

svg {
  height: 1.6rem;
  width: 1.6rem;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-container {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 34rem;
}

.dropdown-title-icon,
.dropdown-arrow {
  display: inline-flex;
}

.dropdown-title {
  margin: 0 auto 0 1.8rem;
  text-transform: capitalize;
}

.dropdown-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  padding: 0 1.8rem;
}

.dropdown-button svg {
  transition: all var(--transition-time) var(--transition-timing);
  fill: var(--text-color);
}

.dropdown-button svg,
.dropdown-button span {
  pointer-events: none;
}

.dropdown-button:hover,
.dropdown-button:focus {
  color: var(--text-active);
}

.dropdown-button:hover svg,
.dropdown-button:focus svg {
  fill: var(--text-active);
}

.main-button {
  height: 5.2rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  border: 0.1rem solid var(--border-color);
  transition: all var(--transition-time) var(--transition-timing);
}

.main-button:focus {
  border: 0.1rem solid var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(44, 98, 246, 0.4);
}

.main-button .dropdown-arrow {
  transition: transform var(--transition-time) var(--transition-timing);
  transform: rotate(var(--rotate-arrow));
  margin-left: 1.8rem;
}

.list-button {
  height: var(--list-button-height);
  transition: color var(--transition-time) var(--transition-timing);
  color: var(--text-color);
  overflow: hidden;
  cursor: none;
}

.dropdown-list-container {
  overflow: hidden;
  max-height: var(--dropdown-height);
  transition: max-height var(--transition-time) var(--transition-timing);
}

.dropdown-list-wrapper {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--primary-bg-color);
  border-radius: var(--border-radius);
  border: 0.1rem solid var(--border-color);
  position: relative;
}

ul.dropdown-list {
  position: relative;
  list-style-type: none;
}

ul.dropdown-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  height: var(--list-button-height);
  background-color: var(--button-hover-bg-color);
  transition: all var(--transition-time) linear;
  transform: translateY(var(--translate-value));
  border-radius: var(--border-radius);
  pointer-events: none;
}
ul.dropdown-list:hover::before,
ul.dropdown-list:hover ~ .floating-icon {
  opacity: 1;
}

li.dropdown-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  opacity: var(--list-opacity);
  transition: opacity 0.8s var(--transition-timing);
}

.floating-icon {
  height: calc(var(--floating-icon-size) * 1px);
  width: calc(var(--floating-icon-size) * 1px);
  position: absolute;
  top: var(--floating-icon-top);
  left: var(--floating-icon-left);
  background-color: var(--border-color);
  border-radius: 1rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-timing);
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.floating-icon svg {
  fill: var(--text-active);
}










