/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Обнуление                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  *,
  *:before,
  *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  :focus,
  :active {
	outline: none;
  }
  a:focus,
  a:active {
	outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
	display: block;
  }


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,900;1,500;1,700&family=Sofia+Sans+Extra+Condensed&display=swap');

  
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
}

body {
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
  user-select: none;
}

  
input,
button,
textarea {
font-family: inherit;
}

input::-ms-clear {
display: none;
}
button {
cursor: pointer;
background: none;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a,
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
}

.bigred {
font-size: 20px;
color: red;
}

body {
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}


.field {
  margin-bottom: 17.498px;
}

.container {
  width: 1200px;
  margin: 25px auto;
  padding: 50px;
  background-color: #f0f0f0;
}

/* Стили для названия полей */
.field label {
  display: block; /* Делаем название поля блочным элементом, чтобы поместить его над полем */
  font-weight: bold;
  margin-bottom: 10px; 
}

/* Стили для текстового поля */
textarea, input[type="text"] {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  min-width: 682px;
  max-width: 682px;
  min-height: 42.346px;
  max-height: 300px;
  background-color: #D9D9D9;
  outline: none;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстовых полей */
input[type="text"]::placeholder, textarea::placeholder {
  color: #BFBFBF; /* Цвет текста подсказки */
}


/* Стили для текстового поля, когда не в фокусе */
textarea:not(:focus), input[type="text"]:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
}


/* Счётчик */
::selection {
  background-color: #D12326; /* Цвет фона выделения */
  color: #F7F7F7; /* Цвет текста в выделении */
}


/* Стили для счетчика */
.counter {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 17.498px;
}

.counter_head {
  display: flex;
  flex-direction: column;
}

.minus-button, .plus-button {
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  background: #BFBFBF;
  color: #314455;
  padding: 10px 15px;
  cursor: pointer;
}

.minus-button:hover, .plus-button:hover {
  background: #D12326;
  color: #F7F7F7;
}

.count {
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  background: #D9D9D9;
  color: #314455;
  padding: 10px 30px;
  text-align: center;
  min-width: 50px;
}

.contacts {
  display: flex;
  margin-right: 105px;
}

/* Стили для поля ввода электронной почты */
input[type="email"] {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  width: 326.08px;
  height: 42.346px;
  background-color: #D9D9D9;
  outline: none;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстовой подсказки */
input[type="email"]::placeholder {
  color: #BFBFBF; /* Цвет текста подсказки */

}

/* Стили для поля ввода электронной почты, когда не в фокусе */
input[type="email"]:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
  background-color: #D9D9D9;
}

.phone {
  margin-left: 30px;
}

/* Стили для поля ввода номера телефона */
input[type="tel"] {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  width: 326.08px;
  height: 42.346px;
  background-color: #D9D9D9;
  outline: none;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстовой подсказки */
input[type="tel"]::placeholder {
  color: #BFBFBF;
}

input[type="tel"]:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
  background-color: #D9D9D9;
}

/* Стили для выпадающего списка, аналогичные полям ввода номера телефона */
#selectField {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  width: 326.08px;
  background-color: #D9D9D9;
  outline: none;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстовой подсказки */
#selectField::placeholder {
  color: #BFBFBF;
}

/* Стили для выпадающего списка, когда не в фокусе */
#selectField:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
  background-color: #D9D9D9;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-top: 0px;
  padding-left: 50px;
  line-height: 100%;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  /* border: 2px solid #BFBFBF; */
  background: #D9D9D9;
  -webkit-transition: all .275s;
  transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content:'✕';
  position: absolute;
  top: 9px;
  left: 11px;
  color: #D12326;
  line-height: 100%;
  background: #D9D9D9;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #BFBFBF;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

.offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 17.498px;
}

.price_text {
  color: #314455;
  text-align: center;
  font-family: Roboto;
  font-size: 39.922px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.animated-button {
  position: relative;
  display: inline-block;
  padding: 18px 44px;
  border: none;
  background-color: inherit;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: #D12326;
  box-shadow: 0 0 0 4px #D12326;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #D12326;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover span:first-child {
  color: #F7F7F7;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 300px;
  height: 150px;
  opacity: 1;
  background-color: #D12326;

}




.big {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}



:root {
  --color-text: #D12326;
  --color-bg: #f0f0f0;
  --color-bg-accent: #f0f0f0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f0f0f0;
    --color-bg: #D12326;
    --color-bg-accent: #D12326;
  }
}

* {
  box-sizing: border-box;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio: 16/9;
  padding: calc(var(--size) / 10);
  border-radius: 0px;
}

.marquee--vertical svg {
  aspect-ratio: 1;
  width: calc(var(--size) / 1.5);
  padding: calc(var(--size) / 6);
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
  margin-top: 18px;
}

.wrapper--vertical {
  flex-direction: row;
  height: 100vh;
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}


.rocket {
  position: fixed;
  bottom: 17px;
  right: 14px;
  width: 57px;
  cursor: pointer;
  transition: all 0.2s ease;
} 

.rocket:hover {
transform: scale(1.05);
} 

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Скроллбар                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/


::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
  background-color: transparent; 
  transition: all 0.3s ease;
}


::-webkit-scrollbar-thumb {
  background-color: #D12326; /* Цвет полосы прокрутки при наведении */
}


::-webkit-scrollbar-thumb:hover {
  background-color: #D12326; /* Цвет полосы прокрутки при наведении */
}
