/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Обнуление                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  *,
  *:before,
  *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  :focus,
  :active {
	outline: none;
  }
  a:focus,
  a:active {
	outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
	display: block;
  }
  
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
}

body {
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
  background: #F7F7F7;
  font-family: 'Alice', serif;
	font-size: 24px;
  /*user-select: none;  Не даёт взаимодействовать с текстом */
}

  /*Меняет цвет выделения*/
::selection {
  background-color: #072239;
  color: #F7F7F7;
}
  
input,
button,
textarea {
font-family: inherit;
}

input::-ms-clear {
display: none;
}
button {
cursor: pointer;
background: none;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a,
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
}

.bigred {
font-size: 20px;
color: red;
}

body {
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding: 30px;
}

/* Стили для названия полей */
.field label {
  display: block; /* Делаем название поля блочным элементом, чтобы поместить его над полем */
  font-weight: bold;
  margin-bottom: 10px; 
}

/* Стили для текстового поля */
textarea, input[type="text"] {
  border-bottom: 4.374px solid transparent;
  border-bottom: 4.374px solid #D12326;
  padding: 10px;
  width: 326.08px;
  height: 42.346px;
  background-color: #D9D9D9;
  outline: none;
  margin-bottom: 17.498px;
  color: #314455;
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

/* Стили для текстового поля, когда не в фокусе */
textarea:not(:focus), input[type="text"]:not(:focus) {
  border-bottom: 4.374px solid #BFBFBF;
}

/* Стили для страницы */
body {
  background-color: #f0f0f0;
}

/* Счётчик */
::selection {
  background-color: #D12326; /* Цвет фона выделения */
  color: #F7F7F7; /* Цвет текста в выделении */
}


/* Стили для счетчика */
.counter {
  display: flex;
  align-items: center;
}

.minus-button, .plus-button {
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  background: #BFBFBF;
  color: #314455;
  padding: 10px 15px;
  cursor: pointer;
}

.minus-button:hover, .plus-button:hover {
  background: #D12326;
  color: #F7F7F7;
}

.count {
  font-family: Roboto;
  font-size: 17.498px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;

  background: #D9D9D9;
  color: #314455;
  padding: 10px 25px;
  text-align: center;
  min-width: 50px;
}
